* {
  transition: 0.4s;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #009ffd;
  color: #ffffff;
}

.pname {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: #009ffd;
  box-shadow: 0 0 10px -1px rgba(0,0,0, 0.1);
}

.pname:hover{
  transform: scale(1.2);
}

.pname a{
  color: #009ffd;
}

.table-responsive a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.current-container {
  padding: 35px;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.current-container h1 {
  margin-bottom: 25px;
}

.table-responsive {
  width: 90vw;
  overflow: auto;
  margin-top: 20px;
  border: #52bfff solid;
  transition: 0.5s;
  margin-bottom: 100px;
}

.table-responsive:hover {
  transform: scale(1.005);
  box-shadow: 0 0 10px -1px rgba(255, 255, 255, 0.5);
}

table {
  border-spacing: 0;
  width: 100%;
  height: 50vh;
}


td,
th {
  padding: 15px 5px;
}

.weekFixed{
  position: sticky;
  left: 0;
}


@media (max-width: 1208px){
  .weekFixed{
    border-right: solid 0.5px #52bfff;
  }
}

th {
  font-weight: 600;
  line-height: 2;
}

tr:nth-child(odd) {
  background-color: #52bfff;
}

tr:hover{
  background-color:rgb(82,191,242,0.5) ;
}

td,
tr,
th {
  border: solid 0.5px #52bfff 0.5;
  transition: 0.5s;
}

td:hover {
  transform: scale(1.2);
}